---
const { frontmatter } = Astro.props; // assign the frontmatter to a variable "frontmatter" to access the property of Astro.props
import BaseLayout from "./BaseLayout.astro";
import GoHome from "../components/GoHome.astro";
const canonical = `https://edulcorante.it${Astro.url.pathname}`;
---

<!-- pass the prop title to the BaseLayout component -->
<BaseLayout
  pageTitle={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image?.url ?? "/og-blog.webp"}
  url={canonical}
  showTitle={false}
>
  <div class="prose prose-neutral text-black dark:text-white mx-auto">
    <img src={frontmatter.image.url} class="rounded-md max-w-full-my-4" alt={frontmatter.image.alt} />
    <p><em>{frontmatter.description}</em></p>

    <slot class="my-6" />

    <div class="flex flex-col gap-2 py-1 px-3 my-2 border rounded-md border-zinc-600 dark:border-zinc-400">
      <span>Posted on: {frontmatter.pubDate.toLocaleDateString()}</span>
      <span>Author: {frontmatter.author}</span>
       <div class="tags flex flex-wrap gap-2 text-md font-semibold dark:invert">
      {
        frontmatter.tags.map((tag: string) => (
          <span class="tag text-zinc-600">
            <a class="text-zinc-600 dark:invert"  href={`/tags/${tag}/1/`}>#{tag}</a>
          </span>
        ))
      }
      
    </div>

    </div>
            <GoHome />


   
  </div>
</BaseLayout>
